header
  .header
      .header-wrapper
        .header-left
          .logo
            img(src="../../assets/images/header/Logo.png", alt="logo")
          .burger
            img(src="../../assets/images/header/burger menu.png", alt="menu")

        nav.nav
          ul.nav-list
            li
              a(href="").nav-link каталог товаров
            li
              a(href="").nav-link доставка и оплата
            li
              a(href="").nav-link цены
            li
              a(href="").nav-link контакты
        .tel
          .number +7 (812)
            span 509 21 98
          .recall перезвоните мне
        .social
          a(href="#")
            img(src="../../assets/images/header/vk.png", alt="мл")
          a(href="#")
            img(src="../../assets/images/header/telega.png", alt="telegramm")
          a(href="#")
            img(src="../../assets/images/header/insta.png", alt="instagram")
          a(href="#")
            img(src="../../assets/images/header/tel.png", alt="phone")
        .header-right
          .search
            img(src="../../assets/images/header/search.png", alt="search")
          .like
            img(src="../../assets/images/header/search1.png", alt="like")
          .cart
            img(src="../../assets/images/header/cart.png", alt="cart")
            .cart-number 10





