footer.footer
  .container
    .footer-row
      .footer-item
        .item-title КАТАЛОГ
        ul.item-list
          li
            a(href="#") Дымоходы
          li
            a(href="#") Дымососы
          li
            a(href="#") Печи для дома
          li
            a(href="#") Печи для бани
          li
            a(href="#") Камины
          li
            a(href="#") Силикат кальция
          li
            a(href="#") Котлы
          li
            a(href="#") Ещё
      .footer-item
        .item-title ИНФОРМАЦИЯ
        ul.item-list
          li
            a(href="#") Каталог
          li
            a(href="#") Установка и монтаж
          li
            a(href="#") Отзывы
          li
            a(href="#") Ликвидация товара
          li
            a(href="#")  Полезное
          li
            a(href="#") Контакты
          li
            a(href="#") Оплата и доставка
      .footer-item
        .item-title ВРЕМЯ РАБОТЫ
        ul.item-list
          li.time
            img(src="../../assets/images/footer/clock.png", alt="clock")
            span   пн-пт
            |  9:00 – 20:00
            span   сб-вс
            |  10:00 – 18:00
          li.place
            img(src="../../assets/images/footer/placeholder 1.png", alt="place")
            | г. Санкт - Петербург ,ул. Тамбасова д.7



